/* center the title */
h1 {
  text-align: center;
}

.label-box {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.inputfir ion-input {
  border: 1px solid #ccc;

}

.header-text {

  margin-top: 20px;
  font-size: 26px;
  margin-left: -41px;
}



/* style the list of complaints */
ion-list {
  margin: 16px;
}

ion-item {
  --inner-padding-start: 20px;
  --inner-padding-end: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

ion-item ion-label h2 {
  font-size: 24px;
}

ion-item ion-label p {
  margin: 0;
  font-size: 14px;
  color: #666;
}

ion-item ion-icon {
  color: #666;
  font-size: 24px;
}

/* add some spacing between items */
ion-item+ion-item {
  margin-top: 16px;
}

/* style the icon on hover */
ion-item:hover ion-icon {
  color: #000;
}